.idea

.php56/bin/*
.php56/vendor/*

!.php56/.build/README.md
!.php56/bin/README.md
!.php56/vendor/README.md

.php70/bin/*
.php70/vendor/*

!.php70/.build/README.md
!.php70/bin/README.md
!.php70/vendor/README.md

.php71/bin/*
.php71/vendor/*

!.php71/.build/README.md
!.php71/bin/README.md
!.php71/vendor/README.md

build.properties.local