/* html */

	html {margin:0; padding:0; font-family:Arial, sans-serif; font-size:100.01%; font-weight:normal; color:#333;}
	body {font-size:0.75em; line-height:1.5em;}

/* headlines */

	h1, 
	h2, 
	h3,
	h4,
	h5,
	h6 {font-weight:bold;}

	h1 {font-size:2.5em;}
	h2 {font-size:2em;}
	h3,
	h4,
	h5,
	h6 {font-size:1.5em;}

/* standard html elemente */

	hr {border-style:solid; border-width:1px 0 0; clear:both; height:0;}
	
/* text elemente */
		
	p,
	dl,
	hr,
	h1,
	h2,
	h3,
	h4,
	h5,
	h6,
	ol,
	ul,
	pre,
	table,
	address,
	fieldset {margin-bottom:0.75em;}
		
	a 			    {text-decoration:none; font-weight:bold;}
	a:hover 	    {text-decoration:underline;}
	a:focus 	    {outline:1px dotted invert;}
	a:before 	    {content:"\00BB" " ";}
	a.anchor:before {content:"";}
	b               {font-weight:bold;}