<?xml version="1.0" encoding="UTF-8"?>


<project default="test.phpunit">


    <target name="test.phpunit:init" hidden="true">
        <property name="test.phpunit.dir" value="tests" />
        <property name="test.phpunit.bootstrap" value="${test.phpunit.dir}/bootstrap.php" />
        <property name="test.phpunit.coverage" value="true" />
        <property name="test.phpunit.php.display_errors" value="on" />
        <property name="test.phpunit.php.error_reporting" value="32767" />
        <property name="test.phpunit.php.default_timezone" value="Europe/Berlin" />
        <property name="test.phpunit.haltonfailure" value="true" />
        <property name="test.phpunit.haltonerror" value="true" />
    </target>


    <target name="test.phpunit:before" hidden="true">
        <echo message="no actions defined" level="debug" />
    </target>


    <target name="test.phpunit:main" hidden="true">
        <mkdir dir="${project.reports}/phpunit" />
        <mkdir dir="${project.reports}/phpunit-coverage-report" />

        <if>
            <istrue value="${test.phpunit.coverage}" />
            <then>
                <property name="coverage" value="--coverage-html ${project.reports}/phpunit-coverage-report" />
            </then>
            <else>
                <property name="coverage" value="" />
            </else>
        </if>

        <if>
            <istrue value="${test.phpunit.haltonfailure}" />
            <then>
                <property name="haltonfailure" value="--stop-on-failure" />
            </then>
            <else>
                <property name="haltonfailure" value="" />
            </else>
        </if>

        <if>
            <istrue value="${test.phpunit.haltonerror}" />
            <then>
                <property name="haltonerror" value="--stop-on-error" />
            </then>
            <else>
                <property name="haltonerror" value="" />
            </else>
        </if>

        <property name="test.phpunit.bootstrap.usage" value="" override="true" />
        <if>
            <available file="${project.root}/${test.phpunit.bootstrap}" />
            <then>
                <property name="test.phpunit.bootstrap.usage" value="--bootstrap ${project.root}/${test.phpunit.bootstrap}" override="true" />
            </then>
            <elseif>
                <available file="${project.root}/vendor/autoload.php" />
                <then>
                    <property name="test.phpunit.bootstrap.usage" value="--bootstrap ${project.root}/vendor/autoload.php" override="true" />
                </then>
            </elseif>
        </if>

        <mkdir dir="${project.root}/${test.phpunit.dir}" />
        <copy file="${phing:commons:root}/resources/phpunit/phpunit.xml" tofile="${project.root}/${test.phpunit.dir}/phpunit.xml" overwrite="false" />

        <exec executable="${phing:commons:root}/bin/phpunit" logoutput="false" passthru="true" level="info" checkreturn="yes">
            <arg line="--configuration ${test.phpunit.dir}/phpunit.xml" />
            <arg line="${test.phpunit.bootstrap.usage}" />
            <arg line="${coverage}" />
            <arg value="--log-junit" />
            <arg file="${project.reports}/phpunit/testsuites.xml" />
            <arg line="-d error_reporting=${test.phpunit.php.error_reporting}" />
            <arg line="-d display_errors=${test.phpunit.php.display_errors}" />
            <arg line="-d date.timezone=${test.phpunit.php.default_timezone}" />
            <arg line="${haltonfailure}" />
            <arg line="${haltonerror}" />
        </exec>

        <exec command="grep &quot;&lt;testsuites/&gt;&quot; ${project.reports}/phpunit/testsuites.xml" returnProperty="test.phpunit.fix.testsuites" />

        <if>
            <equals arg1="${test.phpunit.fix.testsuites}" arg2="0" />
            <then>
                <copy file="${phing:commons:root}/resources/phpunit/testsuites.xml" tofile="${project.reports}/phpunit/testsuites.xml" overwrite="true" />
            </then>
        </if>

        <phpunitreport infile="${project.reports}/phpunit/testsuites.xml" todir="${project.reports}/phpunit" format="noframes" />
        <copy file="${project.reports}/phpunit/phpunit-noframes.html" tofile="${project.reports}/phpunit/index.html" />
    </target>


    <target name="test.phpunit:after" hidden="true">
        <echo message="no actions defined" level="debug" />
    </target>


    <target name="test.phpunit" depends="test.phpunit:init, test.phpunit:before, test.phpunit:main, test.phpunit:after">
        <echo message="successful" />
    </target>


    <target name="test.phpunit:help" depends="test.phpunit:init">
        <echo message="PROPERTY                                          VALUE" />
        <echo message="----------------------------------------------------------------------------------------------------" />
        <echo message="test.phpunit.dir                                  ${test.phpunit.dir}" />
        <echo message="test.phpunit.bootstrap                            ${test.phpunit.bootstrap}" />
        <echo message="test.phpunit.coverage                             ${test.phpunit.coverage} (yes, no)" />
        <echo message="test.phpunit.php.display_errors                   ${test.phpunit.php.display_errors}" />
        <echo message="test.phpunit.php.error_reporting                  ${test.phpunit.php.error_reporting}" />
        <echo message="test.phpunit.php.default_timezone                 ${test.phpunit.php.default_timezone}" />
        <echo message="test.phpunit.haltonfailure                        ${test.phpunit.haltonfailure}" />
        <echo message="test.phpunit.haltonerror                          ${test.phpunit.haltonerror}" />
    </target>


</project>